/*.container>span {*/
/*    background-color: #E6E6E6;*/
/*}*/

body {
    font-family: 'Abel', sans-serif;
}
/*Ramon added img to resize image*/
img {
    height: 105px;
    width: 105px;
}
.navbar-header{
    height: 10vh;
    margin-top: 50px;
}
/*Ramon added text-center to get right font style and size*/
.text-center {
    font-size: 48px;
    font-style: abel regular;
}

.container {
    background: #E6E6E6;
}

/*Ramon added all below this comment to get the right text size and weight*/
/*.visual-design {*/
/*    font-size: 64px;*/
/*    font-weight: bold;*/
/*}*/

.codeup-design {
    font-size: 48px;
}

.codeup-design2 {
    font-size: 40px;
}

.park-city {
    font-size: 48px;
    font-weight: bold;
}
.circle-design {
    background: #E6563B;
    border-radius: 50%;
    border: 12px solid white;
    height: 150px;
    width: 150px;
    line-height: 114px;
    font-weight: bolder;
    font-size: 35px;
}
.circle-designD {
    background: #EB9D3A;
    border-radius: 50%;
    border: 12px solid white;
    height: 150px;
    width: 150px;
    line-height: 114px;
    font-weight: bolder;
    font-size: 35px;
}
.circle-designS {
    background: #7CB06C;
    border-radius: 50%;
    border: 12px solid white;
    height: 150px;
    width: 150px;
    line-height: 114px;
    font-weight: bolder;
    font-size: 35px;
}
.circle-designH {
    background: #00ABA9;
    border-radius: 50%;
    border: 12px solid white;
    height: 150px;
    width: 150px;
    line-height: 114px;
    font-weight: bolder;
    font-size: 35px;
}

.selected-work {
    font-size: 28px;
}
/*.apple-ipad>img {*/
/*    display: block;*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/
.featured-pro {
    font-size: 12px;
}
.circle-d {
    background: #E6563B;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-weight: bolder;
}
.circle-d1 {
    background: #EB9D3A;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-weight: bolder;
}
.circle-d2 {
    background: #7CB06C;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-weight: bolder;
}
.circle-d3 {
    background: #00ABA9;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-weight: bolder;
}
.featured-pic{
    display: flex;
    flex-direction: row;
}