/*.container>span {*/
/*    background-color: #E6E6E6;*/
/*}*/
body {
    font-family: 'Abel', sans-serif;
}
/*Ramon added img to resize image*/
img {
    height: 105px;
    width: 105px;
}

/*Ramon added text-center to get right font style and size*/
.text-center {
    font-size: 48px;
    font-style: abel regular;
}

.container {
    background: #E6E6E6;
}

/*Ramon added all below this comment to get the right text size and weight*/
.visual-design {
    font-size: 64px;
    font-weight: bold;
}

.codeup-design {
    font-size: 48px;
}

.park-city {
    font-size: 48px;
    font-weight: bold;
}

.design-text {
    background: #E6563B;
    border: 2px solid white;
    height: 100px;
    border-radius: 50%;
}