/*.container>span {*/
/*    background-color: #E6E6E6;*/
/*}*/
body {
    font-family: 'Abel', sans-serif;
}
/*Ramon added img to resize image*/
img {
    height: 105px;
    width: 105px;
}

/*Ramon added text-center to get right font style and size*/
.text-center {
    font-size: 48px;
    font-style: abel regular;
}

.container {
    background: #E6E6E6;
}

/*Ramon added all below this comment to get the right text size and weight*/
.visual-design {
    font-size: 64px;
    font-weight: bold;
}

.codeup-design {
    font-size: 48px;
}

.park-city {
    font-size: 48px;
    font-weight: bold;
}
.circle-design {
    background: #E6563B;
    border-radius: 50%;
    border: 12px solid white;
    height: 200px;
    width: 200px;
    line-height: 165px;
    font-weight: bolder;
}
.circle-designD {
    background: #EB9D3A;
    border-radius: 50%;
    border: 12px solid white;
    height: 200px;
    width: 200px;
    line-height: 165px;
    font-weight: bolder;
}
.circle-designS {
    background: #7CB06C;
    border-radius: 50%;
    border: 12px solid white;
    height: 200px;
    width: 200px;
    line-height: 165px;
    font-weight: bolder;
}
.circle-designH {
    background: #00ABA9;
    border-radius: 50%;
    border: 12px solid white;
    height: 200px;
    width: 200px;
    line-height: 165px;
    font-weight: bolder;
}

.selected-work {
    font-size: 40px;
}
.apple-ipad>img {
    width: 500px;
    height: 300px;
}
.featured-pro {
    font-size: 40px;
}
.circle-d {
    background: #E6563B;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-weight: bolder;
}
.circle-d1 {
    background: #EB9D3A;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-weight: bolder;
}
.circle-d2 {
    background: #7CB06C;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-weight: bolder;
}
.circle-d3 {
    background: #00ABA9;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-weight: bolder;
}